.bg-background{
    background-image: url(240_F_1739792110_4st9VkOkn40MDgc07N9mVY9qpMJbCUUq.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
h1{
    color:blue;
}
